<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Guest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% extends "base.html" %}
</head>
<body>

    {% block content %}

    <h1 style="text-align: center;">Edit Guest</h1>

    <hr style="margin-top: 40px;">

    <form action="{{ url_for('update_guest', guest_id=guest.id) }}" method="POST" class="form-vertical">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ guest.name }}" required maxlength="100" pattern="[A-Za-zÀ-ÿ\s]+" style="text-align: center;">
        </div>

        <div class="form-group">
            <label for="document">CPF:</label>
            <input type="text" id="document" name="document" value="{{ guest.document }}" required maxlength="11" minlength="11" pattern="\d{11}" style="text-align: center;">
        </div>

        <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" value="{{ guest.email }}" required maxlength="100" style="text-align: center;">
        </div>

        <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone" value="{{ guest.phone }}" required maxlength="11" minlength="11" pattern="\d{11}" style="text-align: center;">
        </div>

        <button type="submit">Update Guest</button>
    </form>

    <div class="navigation-buttons" style="margin-top: 2rem;">
        <a href="{{ url_for('search_guest') }}" class="button">
            <i class="fa-solid fa-arrow-left"></i> Back to Search
        </a>
    </div>

    {% endblock %}

</body>
</html>
