<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Guest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Edit Guest</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('update_guest', guest_id=guest.id) }}" method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" value="{{ guest.name }}" required maxlength="100" pattern="[A-Za-zÀ-ÿ\s]+" style="text-align: center;"><br><br>

        <label>CPF:</label><br>
        <input type="text" name="document" value="{{ guest.document }}" required maxlength="11" minlength="11" pattern="\d{11}" style="text-align: center;"><br><br>

        <label>Email Address:</label><br>
        <input type="email" name="email" value="{{ guest.email }}" required maxlength="100" style="text-align: center;"><br><br>

        <label>Phone Number:</label><br>
        <input type="text" name="phone" value="{{ guest.phone }}" required maxlength="11" minlength="11" pattern="\d{11}" style="text-align: center;"><br><br>

        <button type="submit">Update</button>
    </form>

    <br>

    <form action="/search_guest" method="get" style="display: inline;">
    <button type="submit">← Back to Search</button>
    </form>

</body>
</html>
