<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - HotelSys</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% extends "base.html" %}
</head>
<body>

    {% block content %}

    <h1 style="text-align: center;">Welcome to the Hotel Management System</h1>
    <p style="text-align: center;">This is the homepage.</p>

    <hr style="margin-top: 40px;">

    <form action="/guest_registration" method="post" class="form-vertical">
        <h2 style="text-align: center;">Guest registration</h2>

        <!-- Grupo Nome -->
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required maxlength="100" pattern="[A-Za-zÀ-ÿ\s]+" placeholder="Enter guest's full name..." style="text-align: center;">
        </div>

        <!-- Grupo Documento -->
        <div class="form-group">
            <label for="document">CPF:</label>
            <input type="text" id="document" name="document" required maxlength="11" minlength="11" pattern="\d{11}" placeholder="Enter only the numbers..." style="text-align: center;">
        </div>

        <!-- Grupo Email -->
        <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" required maxlength="100" placeholder="Enter a valid email address..." style="text-align: center;">
        </div>

        <!-- Grupo Telefone -->
        <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone" required maxlength="11" pattern="\d{11}" placeholder="Enter DDD + number..." style="text-align: center;">
        </div>

        <button type="submit"> <i class="fa-solid fa-user-plus"></i> Register</button>
    </form>

    <br><br>

    <hr style="margin-top: 40px; margin-bottom: 20px;">

    {% endblock %}

</body>
</html>
